body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    flex-direction: row;

    color:white;
    flex-wrap: nowrap;
}
